:root {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* @font-face {
  font-family: 'gameFont';
  src: url(../src/asset/gameFont.ttf);
} */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* start page styles */
#hWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16, 16, 16);
  height: 100vh;
  width: 100vw;
}

.title {
  color: rgb(65, 211, 65);
  font-size: 3.5rem;
  padding-top: 30px;
  z-index: 1;
}

#hModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-style: double;
  border-width: 5px;
  border-color: green;
  align-items: center;
  top: -150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  background-color: rgb(68, 78, 68);
  width: 500px;
  height: 300px;
  padding: 30px 40px;
  color: rgb(65, 211, 65);
}

#hPlayerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hPlayerInfo > label {
  font-size: 2rem;
  padding-bottom: 20px;
}
#hPlayerInfo > input {
  text-align: center;
  height: 40px;
  font-size: 1.5rem;
}

.defaultButtons {
  font-size: 1.5rem;
  border-radius: 40px;
  border: 2px solid rgb(65, 211, 65);
  color: rgb(65, 211, 65);
  background-color: rgb(68, 78, 68);
}
#hPlayButton {
  width: 110px;
  height: 40px;
  margin-top: auto;
}
#hPlayButton:hover {
  height: 42px;
  width: 112px;
}

/* placeShip page styles */
#psWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16, 16, 16);
  min-height: 100vh;
  min-width: 100vw;
}

/* player board div */
.playerBoardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 515px;
  gap: 20px;
}
.boardHeader {
  color: rgb(210, 215, 200);
  font-size: 1.5rem;
}
/* player board will be created in js. looped to make all squares with .playerBoard class
 and id of coordinate number width and height will be 45px each */
.boardContainer {
  display: flex;
  flex-flow: wrap;
  width: 452px;
  border: 1px solid blue;
}
.playerBoard {
  width: 45px;
  height: 45px;
  background-color: rgb(68, 78, 68);
  border: 1px solid black;
}

/* ships drag box */
#shipsDragBox {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  min-width: 420px;
  max-height: 230px;
  flex: 1;
  margin-top: 15px;
  gap: 10px;
}
/* .shipBoxCasing {
  height: auto;
  width: auto;
} */
.psDragBoxSquare {
  border: 1px solid rgb(122, 122, 122);
  background-color: rgb(55, 74, 180);
  width: 45px;
  height: 45px;
  z-index: 1;
}
.horizontal {
  display: flex;
  flex-direction: row;
  z-index: 2;
  width: min-content;
  height: min-content;
  cursor: pointer;
}
.vertical {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: min-content;
  height: min-content;
  cursor: pointer;
}
#carrierBox {
  width: 230px;
  height: 230px;
}
#battleshipBox {
  width: 185px;
  height: 185px;
}
#cruiserBox {
  width: 140px;
  height: 140px;
}
#submarineBox {
  width: 140px;
  height: 140px;
}
#destroyerBox {
  width: 95px;
  height: 95px;
}

/* placeShip page buttons */
#psButtonsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 45px;
  margin-top: 25px;
}

#psPlayButton {
  width: 110px;
  height: 40px;
}
#psPlayButton:hover {
  width: 112px;
  height: 42px;
}

#psClearButton {
  width: 110px;
  height: 40px;
}
#psClearButton:hover {
  width: 112px;
  height: 42px;
}

#psRandomButton {
  width: 110px;
  height: 40px;
}
#psRandomButton:hover {
  width: 112px;
  height: 42px;
}


/* mainGame page styles */
#mgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(16, 16, 16);
  min-height: 100vh;
  min-width: 100vw;
}

#gameboardsDiv {
  display: flex;
  flex: 0;
  flex-wrap: wrap;
  max-width: 1070px;
  max-height: fit-content;
  gap: 75px;
  justify-content: center;
  padding: 30px 30px;
  z-index: 1;
}

.aiBoardHover:hover {
  background-color: rgb(114, 146, 114);
}

.hit {
  background-color: red;
  border: 1px solid black;
  width: 45px;
  height: 45px;
}

.miss {
  background-color: white;
  border: 1px solid black;
  width: 45px;
  height: 45px;
}

/* mainGame page buttons */
#mgButtonsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 45px;
  padding-bottom: 25px;
  margin-top: 25px;
  margin-bottom: auto;
  z-index: 1;
}

#mgRestartButton {
  width: 110px;
  height: 40px;
}
#mgRestartButton:hover {
  width: 112px;
  height: 42px;
}

#mgQuitButton {
  width: 110px;
  height: 40px;
}
#mgQuitButton:hover {
  width: 112px;
  height: 42px;
}

/* mainGame page modal */
.modal-open {
  display: block;
}

.modal-close {
  display: none;
}

.mgDefaultModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  border-style: double;
  border-width: 5px;
  border-color: green;
  align-items: center;
  top: -150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  background-color: rgb(68, 78, 68);
  width: 500px;
  height: 200px;
  padding: 30px 40px;
  color: rgb(65, 211, 65);
  z-index: 5;
}

.disableBackground {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.1);
  z-index: 4;
}

.mgModalMessageDefault {
  font-size: 2rem;
}

#modalButtonsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 335px;
}

#modalPlayAgain {
  width: 155px;
  height: 40px;
}
#modalPlayAgain:hover {
  width: 157px;
  height: 42px;
}

#modalMainMenu {
  width: 155px;
  height: 40px;
}
#modalMainMenu:hover {
  width: 157px;
  height: 42px;
}

/* are you sure modal on mainGame page */
#aysButtonsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 225px;
}

#aysYesButton {
  width: 100px;
  height: 40px;
}
#aysYesButton:hover {
  width: 102px;
  height: 42px;
}

#aysNoButton {
  width: 100px;
  height: 40px;
}
#aysNoButton:hover {
  width: 102px;
  height: 42px;
}